/* Mobile*/
.about-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 16px 92px 16px;
    background-color: var(--secondary-color);
}
.about-app__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-app__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--title-color);
    text-transform: uppercase;
    margin-bottom: 18px;
}
.about-app__text {
    text-align: center;
    margin: 0 21px 40px 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:  --text-color;
}
.about-app__picture {
    margin-bottom: 40px;
}
.about-app__picture > img {
    max-width: 100%;
}
.about-app__features {
    display: flex;
    flex-direction: column;
}
.about-app__features-item {
    margin-bottom: 20px;
    padding: 18px 16px 10px 19px;
    background-color: var(--secondary-color);    
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.about-app__item-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about-app__item-group > img {
    width: 24px;
}
.about-app__features-title {
    font-weight: 600;
    --item-height: 20px;
    text-transform: uppercase;
    color: var(--title-color);
    margin-top: calc(var(--item-height) * 0.25); /* to compensate font */
    margin-left: 18px;
    
}
.about-app__features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    
}


/* Tablet */
@media screen and (min-width: 768px) {
    .about-app {
        padding: 120px 0 159px;
    }
    .about-app__title {
        font-weight: 700;
        font-size: 31.25px;
    }
    .about-app__text {
        margin: 0 120px 60px 120px;
        margin-bottom: 60px;
    }
    .about-app__body {
        display: flex;
        flex-direction: row;
    } 
    .about-app__picture {

    }
    .about-app__picture {
        flex-basis: auto;
        flex-shrink: 0;
        margin-right: 60px;
    }
        
}
    
/* Laptop */

@media screen and (min-width: 1152px) {
    .about-app {
        padding-bottom: 120px;
    }
    .about-app__title {
        margin-bottom: 22px;
    }
    .about-app__text {
        margin: 0 270px 60px 270px;
        margin-bottom: 56px;
    }
    
    .about-app__picture {
        width: 386px;
        margin-right: 188px;
    }
}