* {
    box-sizing: border-box;
}
:root {
    font-family: 'Josefin Sans', sans-serif;
    --primary-color: #5956E9;
    --secondary-color: #ffffff;
    --title-color: #232233;
    --text-color: #6C6C72;
}
html, body {
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}

