.customers {
  background-image: url(../img/background.png);
  background-color: var(--primary-color);
  background-position: center bottom ;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;

}

.customers__title {
  margin-bottom: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.customers__subtitle {
  margin-bottom: 32px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-color);
}

.customers__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers__carousel-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  max-width: 400px;
  margin: 0 60px 20px;
}

.customers__carousel-item {
  position: relative;
  padding: 20px;
  background: var(--secondary-color);
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  transition: all .3s ease;
  width: 100%;
}
.customers__carousel-item.before {
  position: absolute;
  transform: translate(-50px, 0);
}
.customers__carousel-item.active {
  position: relative;
  transform: translate(0,0);
  z-index: 4;
}
.customers__carousel-item.after {
  position: absolute;
  transform: translate(50px, 0);
}
.customers__carousel-controls {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.customers__carousel-controls-button {
  list-style-type: none;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--secondary-color);
  cursor: pointer;
}
.customers__carousel-controls-button.active::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
}

.customers__review-photo {
  line-height: 0;
  text-align: center;
}

.customers__review-photo > img {
  width: 50px;
  border-radius: 50%;
}

.customers__review-name {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
}

.customers__review-job-description {
  margin-bottom: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
}

.customers__review-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}