/* Mobile */
.header {
    background-image: url(../img/background-header.png);
    padding-top: 40px;
    padding-bottom: 124px;
}
.header__info,
.header__nav,
.header__burger-checkbox {
    display: none;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    padding: 3px 3px 3px 9px;
    margin-bottom: 108px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.header__logo {
    position: absolute;
    right: calc(50% - 50px);
    top: calc(50% - 30px);
    display: flex;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.header__logo > img {
    max-width: 100%;
}
.header__button {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 3px;
    border: 0;

}
.header__burger-icon {
    display: flex;
    align-items: center;
    width: 24px;
}
.header__burger-icon img {
    max-width: 100%;
}
.header__intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header__picture{
    height: 520px;
    display: flex;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
}
.header__picture img {
    max-width: 100%;
}
.first-caption {
    position: relative;
    margin-right: 20px; 
    margin-bottom: 60px;  
    min-width: 323px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.first-caption::before {
    content:"";
    position: absolute;
    right: -20px;
    top: -20px;
    bottom: -20px;
    left: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: #7572FF;
}
.first-caption__inner {
    position: relative;
    padding: 30px 12px 20px 18px;
    background-color: var(--secondary-color); 
}
.first-caption__title {
    margin-bottom: 18px;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
}
.first-caption__text {
    margin-bottom: 22px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.first-caption__download-button {
    margin-right: 10px;
}
.first-caption__download-button img {
    width: 108px;
    height: 34px;
    
}
.first-caption__download-text{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 19px;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .header {
        padding:25px 40px  220px 40px;
    }
    .header__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .header__contacts {
        display: flex;
        align-items: center;
    }
    .header__contacts a {
        font-weight: 400;
        font-size: 16px;
        color: var(--secondary-color);
        text-decoration: none;
    }
    .header__contacts__email,
    .header__contacts__phone{
        display: flex;
        align-items: center;
        margin-right: 48px;

    }
    .header__contacts__email > img {
        margin-right: 18px;
    }
    .header__contacts__phone > img {
        margin-right: 18px;
    }
    .header__social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header__social a {
        margin-left: 30px;
    }
    .header__menu {
        height: 60px;
        padding: 5px 5px 5px 18px;
        margin-bottom: 235px;
    }
    .header__logo {
        right: calc(50% - 100px);
        top: calc(50% - 45px);
        width: 200px;
        height: 90px;
        padding: 16px;
    }    
    .header__button {
        font-size: 20px;
        padding: 0 16px;
    }
    .header__intro {
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .header__picture {
        height: 420px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }
    .first-caption {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        margin-right: 75px;
        margin-bottom: 30px;
        min-width: 356px;
    }
    .first-caption::before {
        right: -35px;
        top: -35px;
        bottom: -35px;
        left: 35px;
        border-width: 18px;
    }
    .first-caption__download-text {
        margin-bottom: 23px;
    }
    .first-caption__download-button {
        margin-right: 14px;
    }
    .first-caption__download-button img {
        width: 135px;
        height: 47px;
    }
}

/* Laptop */

@media screen and (min-width: 1152px) {
    .header {
        padding:45px 20px  74px ;
    }
    .header__info {
        margin-bottom: 25px;
    }
    .header__menu {
        justify-content: flex-end;
        padding-left: 52px;
        margin-bottom: 58px;
    }
    .header__nav--left {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    .header__nav--right {
        display: flex;
        align-items: center;
       
    }
    .header__nav-item {
        --item-height: 20px;
        margin-right: 40px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        font-size: var(--item-height);
        line-height: 1;
        color: var(--title-color);
        display: block;
        margin-top: calc(var(--item-height) * 0.25); /* to compensate font */
    }
    .header__burger-icon {
        display: none;
    }
    .header__intro{
        justify-content: space-between;
        align-items: center;
    }
    .header__picture{
        height: 725px;
    }
    .first-caption {
        max-width: 570px;
        margin-bottom: 0;
        margin-right: 50px;
    }
    .first-caption__inner {
        padding: 40px 23px 40px 30px;
        
    }
    .first-caption__title {
        font-weight: 700;
        font-size: 48.83px;
        line-height: 63px;
    }
    .first-caption::before {
        right: -50px;
        top: -50px;
        bottom: -50px;
        left: 50px;
    }
    .first-caption__text {
        margin-bottom: 52px;
    }
    .first-caption__download-text {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .first-caption__download-button {
        width: 149px;
    }
}
