/* Mobile */
.header {
    background-image: url(../img/background-header.png);
    padding-top: 40px;
    padding-bottom: 124px;
}
.header__info,
.header__nav,
.header__burger-checkbox {
    display: none;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 40px;
    padding: 3px 3px 3px 9px;
    margin-bottom: 108px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.header__logo {
    position: absolute;
    right: calc(50% - 50px);
    top: calc(50% - 30px);
    display: flex;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.header__logo > img {
    max-width: 100%;
}
.header__button {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 3px;
    border: 0;

}
.header__burger-icon {
    display: flex;
    align-items: center;
    width: 24px;
}
.header__burger-icon img {
    max-width: 100%;
}
.first-caption {
    position: relative;
    margin-right: 20px; 
    margin-bottom: 60px;  
}
.first-caption::before {
    content:"";
    position: absolute;
    right: -20px;
    top: -20px;
    bottom: -20px;
    left: 20px;
    border: 10px solid #7572FF;
}
.first-caption__inner {
    position: relative;
    padding: 30px 12px 20px 18px;
    background-color: var(--secondary-color); 
}
.first-caption__title {
    margin-bottom: 18px;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
}
.first-caption__text {
    margin-bottom: 22px;
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.first-caption__download-button {
    width: 108px;
    display: inline-block;
}
.first-caption__download-button img {
    max-width: 100%;
}
.first-caption__download-text{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--title-color);
}
.header__picture{
    height: 520px;
    display: flex;
    justify-content: center;
}
.header__picture img {
    max-width: 100%;
}

/* Tablet */

@media screen and (min-width: 768px) {
    .header {
        padding:25px 40px  220px 40px;
    }
    .header__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    .header__contacts {
        display: flex;
        align-items: center;
    }
    .header__contacts a {
        font-weight: 400;
        font-size: 16px;
        color: var(--secondary-color);
        text-decoration: none;
    }
    .header__contacts__email,
    .header__contacts__phone{
        display: flex;
        align-items: center;
        margin-right: 48px;

    }
    .header__contacts__email > img {
        margin-right: 18px;
    }
    .header__contacts__phone > img {
        margin-right: 18px;
    }
    .header__social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header__social a {
        margin-left: 30px;
    }
    .header__menu {
        height: 60px;
        padding: 5px 5px 5px 18px;
        margin-bottom: 235px;
    }
    .header__logo {
        right: calc(50% - 100px);
        top: calc(50% - 45px);
        width: 200px;
        height: 90px;
        padding: 16px;
    }    
    .header__button {
        font-size: 20px;
        padding: 0 16px;
    }
    .header__intro {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }
    .header__picture {
        height: 420px;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
    }
    .first-caption {
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 75px;
        margin-bottom: 20px;
    }

}

/* Laptop */

@media screen and (min-width: 1200px) {
    .header {
        flex-direction: column;
    }
    .header__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 40px;
    }
}
