@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,200&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,400&display=swap');
@import './common.css';
@import './header.css';
@import './about-app.css';
@import './features.css';
@import './carousel.css';
@import './metrics.css';
@import './app-review.css';
@import './team.css';